body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #3f5094;
}

header {
  padding: 16px;
  background-color: #1f2937;
  color: rgb(255, 255, 255);
}

main {
  padding: 24px;
  background: #7f7777;
  min-height: 100vh;
}
